{% extends 'base.html' %}
{% block title %}
  Подписки
{% endblock %}
{% load thumbnail %}
{% load cache %}
{% block content %}
    <div class="container py-5">     
      <h1>Последние обновления подписок</h1>
      {% include 'posts/includes/switcher.html' %}
      {% for post in page_obj %}
        {% with grouptrue=True %}
          {% include 'posts/includes/post.html' %} 
        {% endwith %}
        {% if post.group %}   
          <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
        {% endif %}
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
      {% include 'posts/includes/paginator.html' %}
    </div>
{% endblock %}